label.error {
    color: #dc3545;
    font-size: 14px;
}
input.error {
    border:1px solid red;
    background: #ffe6e6;
}

input.error:focus
{
    border:1px solid red;
    background: #ffe6e6;
}

input.valid {
    border:1px solid green;
    background: #ECFCEC;
}

input.valid:focus {
    border:1px solid green;
    background: #ECFCEC;
}

textarea.valid {
    border:1px solid green;
    background: #ECFCEC;
}
textarea.valid:focus {
    border:1px solid green;
    background: #ECFCEC;
}

textarea.error {
    border:1px solid red;
    background: #ffe6e6;
}

textarea.error:focus {
    border:1px solid red;
    background: #ffe6e6;
}
select.valid {
    border:1px solid green;
    background: #ECFCEC;
}
select.valid:focus {
    border:1px solid green;
    background: #ECFCEC;
}

select.error {
    border:1px solid red;
    background: #ffe6e6;
}
select.error:focus {
    border:1px solid red;
    background: #ffe6e6;
}
